<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vintage Addiction</title>
</head>
<body>
    <header>
        <nav class="navbar bg-body-tertiary fixed-top">
            <div class="container-fluid">
              <a class="navbar-brand" href="/index">Vintage Addiction</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
                <div class="offcanvas-header">
                  <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Vintage Addiction</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                  <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                    <li class="nav-item">
                      <a class="nav-link" href="/login">Login</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/register">Register</a>
                    </li>                
                  </ul>              
                </div>
              </div>
            </div>
          </nav>
    
    </header>
        
    
    <h1>VINTAGE ADDICTION</h1>
    

    <section class="vh-100" >
        <div class="container py-5 h-100">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
              <div class="card shadow-2-strong" style="border-radius: 1rem;">
                <div class="card-body p-5 text-center">
      
                  <h3 id="demo" class="mb-5">Register</h3>
                    
                  <form id="reg_form" action="/register" method="post">

                  <div class="form-outline mb-4">
                        <input type="text" name="username" id="username" class="form-control form-control-lg" />
                        <label class="form-label" for="typeEmailX-2">Username</label>
                  </div>

                  <div class="form-outline mb-4">
                    <input type="email" name="email" id="email" class="form-control form-control-lg" />
                    <label class="form-label" for="typeEmailX-2">Email</label>
                  </div>
      
                  <div class="form-outline mb-4">
                    <input type="password" name="pass" id="pass" class="form-control form-control-lg" />
                    <label class="form-label" for="typePasswordX-2">Password</label>
                  </div>                  

                  <div class="form-outline mb-4">
                    <input type="number" name="room" id="room" class="form-control form-control-lg" />
                    <label class="form-label" for="typePasswordX-2">Favorite room</label>
                  </div>                  

                  
                    <input type="hidden" name="avatar" id="avatar" />
                  
                  
                  <div class="col-sm">
                    <label>Choose Avatar</label>    
                    <div id="registerAvatar" class="d-flex flex-wrap justify-content-space-between">                            
                        <img id="t1" name="avatars" onclick="getAvatar('t1')" src="punk01.png" class="rounded-circle" style="width: 75px;" alt="Avatar"  />
                        <img id="t2" name="avatars" onclick="getAvatar('t2')" src="punk02.png" class="rounded-circle" style="width: 75px;" alt="Avatar"  />
                        <img id="t3" name="avatars" onclick="getAvatar('t3')" src="punk03.png" class="rounded-circle" style="width: 75px;" alt="Avatar"  />
                        <img id="t4" name="avatars" onclick="getAvatar('t4')" src="punk04.png" class="rounded-circle" style="width: 75px;" alt="Avatar"  />
                        <img id="t5" name="avatars" onclick="getAvatar('t5')" src="punk05.png" class="rounded-circle" style="width: 75px;" alt="Avatar"  />
                        <img id="t6" name="avatars" onclick="getAvatar('t6')" src="punk06.png" class="rounded-circle" style="width: 75px;" alt="Avatar"  />
                        <img id="t7" name="avatars" onclick="getAvatar('t7')" src="punk07.png" class="rounded-circle" style="width: 75px;" alt="Avatar"  />
                        <img id="t8" name="avatars" onclick="getAvatar('t8')" src="punk08.png" class="rounded-circle" style="width: 75px;" alt="Avatar"  />                        
                    </div>
                </div>
                <br>

                  <button class="btn btn-primary btn-lg btn-block" type="submit">Submit</button>  
                  
                </form>                                            
      
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>




<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js" integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N" crossorigin="anonymous"></script>

<script>

const form = document.getElementById('reg_form');

// form.addEventListener('submit', (event) => 
// {
//     // stop form submission
//     event.preventDefault();
//     console.log(form.elements['username'].value);
//     console.log(form.elements['email'].value);
//     console.log(form.elements['room'].value);
//     console.log(form.elements['avatar'].value);

// });


function getAvatar(id) 
{   
    const avatars = document.getElementsByName("avatars");

    avatars.forEach( avatar => 
    {        
        avatar.classList.remove('selected');
    }

    );    

    var element = document.getElementById(id);
    
    element.classList.add("selected");

    form.elements['avatar'].value = element.src;
    
}

</script>

</body>  
</html>

<style>  

.selected {
    border: dashed 3px red;
}
    
    body {
      background-color: lightgreen;
    }
    
</style>

