<!DOCTYPE html>
  <html>
  <body>
      <form action="/register" method="post">
          <input type="text" name="username" placeholder="username" /><br />
          <input type="email" name="email" placeholder="email" /><br />
          <input type="password" name="pass" placeholder="password" /><br />
          <input type="number" name="room" placeholder="favorite room" /><br />
          <input type="text" name="avatar" placeholder="avatar" /><br />                
          <button>Submit</button>
      </form>
  </body>
  </html>

